@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Security.NavInfo>

@{
    ViewBag.Title = "添加合同";
    Layout = "Shared/_Layout.cshtml";
}

@section style{
      <!-- iCheck -->
<link rel="stylesheet" href="/Content/plugins/iCheck/all.css">
    <!-- Select2 -->
<link rel="stylesheet" href="/Content/plugins/select2/select2.min.css">
 <!-- DataTables -->
<link href="/Content/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<link rel="stylesheet" href="/Content/plugins/Validator/bootstrapValidator.min.css">
    <!-- bootstrap datepicker -->
<link rel="stylesheet" href="/Content/plugins/datepicker/datepicker3.css">
}
@section scripts{
    <!-- iCheck -->
<script src="/Content/plugins/iCheck/icheck.min.js"></script>
    <!-- Select2 -->
<script src="/Content/plugins/select2/select2.full.min.js"></script>
    <!-- bootstrap datepicker -->
<script src="/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/Content/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
    <!-- DataTables -->
<script src="/Content/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/Content/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- cxselect -->
<script src="/Content/plugins/cxselect/jquery.cxselect.js"></script>
<!-- page script -->
    <script src="~/Content/Scripts/Order/AddOrder.js"></script>    
}

<section class="content-header">
    <h1>
        @Model.Title
    </h1>
    <ol class="breadcrumb">
        @Html.Raw(Model.Nav)
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- interactive chart -->
            <div class="box box-line">
                
                <form class="form-horizontal" id="myForm" action="/order/add">
                    <div class="box-body">
                        <div class="form-group">                           
                                <label class="col-sm-2 control-label">甲方名称:</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="buyer" name="buyer" placeholder="甲方名称">
                                </div> 
                                <label class="col-sm-2 control-label">项目名称:</label>

                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="proName" name="proName" placeholder="项目名称">
                                </div>                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">下单日期:</label>

                            <div class="col-sm-4">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right mydate" name="orderdate">
                                </div>
                            </div>

                            <label class="col-sm-2 control-label">进场日期:</label>

                            <div class="col-sm-4">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right mydate" name="intodate">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="myAddress">
                            <label class="col-sm-2 control-label">施工地点:</label>

                            <div class="col-sm-2">
                                <select class="form-control select2 Province" id="Province" name="Province"></select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control select2 City" id="City" name="City"></select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control select2 Area" id="Area" name="Area"></select>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="address" name="address" placeholder="详细地址">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="box box-line">
                                    <div class="box-body">
                                        <div id="toolbar" class="btn-group">
                                            <button id="btn_Add" type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;添加
                                            </button>
                                            
                                            <button id="btn_del" type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;删除
                                            </button>
                                        </div>
                                        <table id="tb_data"></table>
                                    </div>
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">付款方式:</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="remarks1" name="remarks1"></textarea>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务员:</label>

                            <div class="col-sm-2">
                                <select class="form-control select2" id="selUsers" name="selUsers" style="width:100%;"></select>
                            </div>
                            <label class="col-sm-2 control-label">备注:</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="remarks2" name="remarks2" placeholder="备注">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" id="btnAdd" class="btn btn-primary">提交</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>

    <div class="modal" id="myModal" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <form class="form-horizontal" id="myModalForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">添加明细</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">业务类型：</label>

                                <div class="col-sm-9">
                                    <select class="form-control select2" id="selType" style="width:100%;"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">产品类型：</label>

                                <div class="col-sm-9">
                                    <select class="form-control select2" id="selProType" style="width:100%;"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">规格：</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Spec" name="Spec">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">结算数量：</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="PlanNum" name="PlanNum">
                                </div>
                                <label for="inputName" class="col-sm-3 control-label">单价：</label>

                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="price" name="price" placeholder="元">
                                </div>
                            </div>
                            <div class="form-group">                                
                                <label for="inputName" class="col-sm-3 control-label">结算金额：</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Total" name="Total" placeholder="元">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-3 control-label">备注：</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="remark" name="remark" placeholder="备注">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">确定</button>
                    </div>
                </div><!-- /.modal-content -->
             </form>
</div><!-- /.modal-dialog -->
    </div>

    <div class="modal" id="myAlert" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p id="myAlertLabel">成功</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->
    </div>
</section>
<!-- /.content -->